.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 95px 50px;
}

.header__menu {
    align-self: center;
}

.header__links-list {
    display: flex;
    column-gap: 30px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: lowercase;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 135px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    line-height: 24px;
}

.address a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover {
    z-index: 1;
    min-height: 757px;
    padding: 165px 50px 50px;
    color: #fff;
    text-transform: uppercase;
    background: url("../images/cover.jpg") center/cover no-repeat;
}

.cover__title {
    position: relative;
    z-index: 3;
    font-weight: bold;
    font-size: 100px;
    line-height: 130%;
    text-transform: uppercase;
}


.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
    font-size: 22px;
}

.cover__description-text {
    word-spacing: 90%;
}

.bet-button {
    border: 1px #fff solid;
    padding: 12px 32px 11px 31px;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    padding-bottom: 27px;
    padding-left: 67px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 24px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
}

.card-link {
    text-decoration: none;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.card__title {
    position: relative;
    z-index: 3;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    width: fit-content;
    margin: 30px 0 0 64px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
    height: 100%;
    margin-top: 120px;
    padding: 35px 24px 0;
}

.about__logo {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 59%;
}

.about__column_text {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    padding-right: 25px;
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
    padding: 0 50px;
}

.footer__address {
    justify-self: start;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-link {
    text-decoration: underline;
    text-transform: lowercase;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: self-end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    color: #000;
}