.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    place-content: center space-between;
    padding: 93px 50px 95px;
}

.header__menu {
    align-self: center;
}

.header__links-list {
    display: flex;
    column-gap: 30px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-transform: lowercase;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 24px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cover {
    z-index: 1;
    min-height: 757px;
    background: url("../images/cover.jpg") center/cover  no-repeat;
    position: relative;
    padding: 165px 50px 50px;
    color: #fff;
    text-transform: uppercase;
}

.cover__title{
    position: relative;
    z-index: 3;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 125%;
}

.letter-spacing-extended {
    letter-spacing: 28%;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    margin-top: 106px;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.cover__description-text {
    word-spacing: 90%;
}

.bet-button {
    color: #fff;
    position: relative;
    background: transparent;
    font-family: inherit;
    padding: 12px 32px 11px 31px;
    border: 1px #fff solid;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
    font-weight: bold;
    font-size: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 24px;
}

.lots__card-list-item {
    min-height: 596px;
    width: 334px;
}

.card {
    height: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-link{
    text-decoration: none;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") center/cover  no-repeat;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") center/cover  no-repeat;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") center/cover  no-repeat;
}

.card__title {
    z-index: 3;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.card__text {
    z-index: 3;
    position: relative;
    line-height: 120%;
    font-size: 20px;
}

.lots__look-more-link {
    display: block;
    width: fit-content;
    margin: 30px 0 0 64px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    height: 100%;
    margin-top: 120px;
    padding: 35px 24px 0;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.about__logo-image {
    width: 59%;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px 0 70px 0;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    margin-top: 180px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
    justify-self: start;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-link {
    text-decoration: underline;
    text-transform: lowercase;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    justify-self: self-end;
    display: flex;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    color: #000;
}
